################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Main/.vs/Main/v15
/Main/bin/Debug
/Main/obj/Debug
/Main/packages
/Tests/bin/Debug
/Tests/obj/Debug
/.vs/OB0007/v15
/OB0007.sln.DotSettings.user
